.article {
    background: #666;
    padding: .5em;
    border-radius: 5px;
    max-width: 70vw;
    margin: 0 auto 1em;
    padding: 2em;
    p.author {
        font-size: 1.5em;
        margin: 0 1em 0;
        padding: 0 .2em;
    }
    p.reference {
        max-width: 90vw;
        font-size: .9em;
    }
    a.article-link {
        font-size: 1.1em;
        background: $color-primary-blue;
        padding: 0.3em 0.7em;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        &:hover {
            text-decoration: none;
            background: lighten($color-primary-blue, 5%);
            border: 1px solid whitesmoke;
        }
    }
}

#articles-parallax1 {
    background-image: url('../images/marines-attention.jpg');
}