
#home-tile-1 {
    color: whitesmoke;
    font-size: 1.4em;
    h1 {
        margin-bottom: .5em;
    }
    ul#features-list {
        width: 50vw;
    }
    .logo {
        max-width: 450px;
        background: white;
        border-radius: 10px;
        padding: .5em;
        margin: 0;
        img {
            max-width: 100%;
        }
    }
    
}

#home-tile-2 {
    padding: 3em;
    background: darken($color-primary-red, 10%);
    color: whitesmoke;
    height: 500px;
}

#home-tile-3 {
    padding: 3em;
    background: darken($color-primary-red, 10%);
    color: whitesmoke;
}

#home-parallax-1 {
    background-image: url('../images/military-group.jpg');
}

#features-list {
    width: 50vw;
    padding: 1em;
}