
#home-tile-1 {
    padding: 0 4em 4em;
    color: whitesmoke;
    background: lighten($color-primary-blue, 15%);
    font-size: 1.2em;
    .lead {
        min-width: 80vw;
        padding: 0 15%;
    }
}

#home-tile-2 {
    padding: 3em;
    background: rgba(204,204,204,.014);
    color: $color-primary-red;
    border-top: 2px solid white;
    height: 500px;
}

#home-tile-3 {
    padding: 3em;
    background: darken($color-primary-red, 10%);
    color: whitesmoke;
}

#home-parallax-1 {
    background-image: url('../images/military-group.jpg');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}