#mc_embed_signup{
    background:$color-primary-blue; 
    color: whitesmoke; 
    clear:left; 
    font:1em 'Roboto',Arial,sans-serif;
    border-radius: 10px;
    .button {
        background-color: lighten($color-primary-blue, 15%) !important;
        border: 1px solid #ccc !important;
        &:hover {
            background-color: lighten($color-primary-blue, 5%) !important;
        }
    }
}