body {
    background: #111;

}

#app {
    background: #ccc;
}

.logo {
    max-width: 220px;
    min-width: 150px;
    margin-right: 2em;
    position: relative;
    img {
        max-width: 100%;

    }
}

nav.navbar {
    background: #222 !important;
    border-bottom: 1px solid #ccc;
}

#image-container-1 {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/images/ampient-banner.png');
    background-position: center 35%;
    border-top: 2px solid #ccc;
}

#image-container-2 {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/images/coruscant.png');
    background-position: center 50%;
}

.image-container {
    height: 35vh;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid #ccc;
    .content-container {
        padding: 2rem;
        margin-left: 2rem;
        video {
            border: 1px solid #ccc;
            box-shadow: 1px 1px 3px #333;
        }
    }
}

.text-container {
    height: 100%;
    color: white;
    text-align: center;
}


footer {
    background:#111;
    color: #ccc;
}
