body {
    background: transparent;
}

.logo {
    max-width: 250px;
    background: white;
    padding: .5em 2em;
    border-radius: 0 0 5px 5px;
    img {
        max-width: 100%;
    }
    @media screen and (max-width: 550px){
        margin: 1em auto;
    }
}

.navbar {
    background: $color-primary-blue;
    border-bottom: 2px solid white;
    a {
        color: whitesmoke;
        font-size: .9em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .dropdown-menu {
        background: darken($color-primary-red, 10%);
    }
}

.lead {
    font-size: 1.5em;
    font-weight: 300;
    max-width: 600px;
}

.tile {
    p.lead {
        margin: 1em auto;
    }
}

