body {
    background: #333;

}

.main-content {
    min-height: 80vh;
}

hr {
    border-top: 1px solid #ccc;
}

.jumbotron-text {
    min-width: 500px;
}

.logo {
    max-width: 220px;
    min-width: 150px;
    margin-right: 2em;
    position: relative;
    img {
        max-width: 100%;

    }
}

nav.navbar {
    background: #111 !important;
    border-bottom: 1px solid #ccc;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.image-shadow {
    box-shadow: 2px 2px 5px #111;
}


footer {
    background:#111;
    color: #ccc;
    border-top: 1px solid #ccc;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            padding-right: .3rem;
        }
    }
}
